---
import Layout from '../layouts/Layout.astro';
import ConcertCard from '../components/ConcertCard.astro';

const upcomingConcerts = [
  {
    title: 'Концерты AC/DC',
    description: "AC/DC — австралийская рок-группа, сформированная в Сиднее в ноябре 1973 года выходцами из Шотландии, отправилась в мировое турне...",
    date: "10.04.2025 - 21.08.2025",
    telegramPostId: "http://www.za7morey.com.ua/ru/743794de/tury_na_rock_music_concerts_tours_tickets/bilety_na_kontserty_ac_dc_zakaz_biletov_concert_tickets/",
    category: "Концерт",
    imageUrl: "https://i.postimg.cc/4xqSFv0z/4.jpg"
  }
  
];
---

<Layout 
  title="Концерты - RockReplay" 
  description="Расписание предстоящих рок-концертов"
  background="https://images.unsplash.com/photo-1459749411175-04bf5292ceea?auto=format&fit=crop&q=80&w=2070"
>
  <section class="container mx-auto px-4">
    <h1 class="text-4xl font-bold mb-8 text-center">Афиша концертов</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {upcomingConcerts.map(concert => <ConcertCard {...concert} />)}
    </div>
  </section>
</Layout>
