---
import Layout from '../layouts/Layout.astro';
import NewsCard from '../components/NewsCard.astro';

const latestNews = [
  {
    title: "Фильм о Led Zeppelin - группе, "купившей славу у самого Сатаны"",
    description: "Becoming Led Zeppelin — это документальный фильм, который погружает зрителя в историю становления одной из величайших рок-групп всех времён. Его уникальность заключается в том, что в нем активно участвуют сами музыканты, и повествование ведется от их первого лица...",
    date: "11.12.2024",
    telegramPostId: "410",
    category: "Премьера",
    imageUrl: "https://avatars.dzeninfra.ru/get-zen_doc/271828/pub_664cd2dbeffda4440fea1a81_664cd30b7b9406247b7eba47/scale_1200"
  },
  {
    title: "Нови́нки 2025 года в мире рок-музыки и металла!",
    description: "2025 обещает быть захватывающим годом для поклонников тяжелой музыки! Вот несколько ожидаемых релизов, которые заставят ваши сердца биться быстрее...",
    date: "09.12.2024",
    telegramPostId: "395",
    category: "Новинки",
    imageUrl: "https://i.postimg.cc/KvQ8ywFZ/image.png"
  },
  {
    title: "Шведские мелодик-металлисты DYNAZTY выпустят новый альбом",
    description: "Альбом спродюсировали сами участники DYNAZTY, а свел известный шведский продюсер Йенс Богрен. Он посвящен...",
    date: "28.11.2024",
    telegramPostId: "367",
    category: "Новый альбом",
    imageUrl: "https://mhf-mag.com/wp-content/uploads/2024/11/Dynasty_GameOfFaces-1024x1024.jpg"
  },
  {
    title: "Marilyn Manson - OAUG",
    description: "One Assassination Under God - Chapter 1, 12-й альбом MARILYN MANSON вышел по всему миру на лейбле Nuclear Blast Records",
    date: "22.11.2024",
    telegramPostId: "346",
    category: "Новый альбом",
    imageUrl: "https://www.metallus.it/wp-content/uploads/2024/10/Marilyn-Manson-EMP-03.jpg"
  },
 {
    title: "Христианские рокеры SKILLET сегодня удивили своих поклонников анонсом своей книги «Kingdom Of Rock»",
    date: "21.11.2024",
    description: 'Группа собирается рассказать всю правду о себе, историю своего успеха от начала и по сей день. Для этого они выпускают автобиографическую книгу "Kingdom Of Rock", продажи которой начались 21 ноября 2024',
    imageUrl: "https://www.cdboxset.ru/attachments/Image/Skillet.jpg?template=generic",
    category: "Новости",
    telegramPostId: "342"
  },
  {
    title: "Новая песня MASTERY стала официальной темой для Tekken 8",
    date: "18.11.2024",
    description: 'Премьера клипа состоялась в Эр-Рияде, столице Саудовской Аравии, на самом крупном турнире по киберспорту – Esports World Cup 2024, где призовой фонд составил 60 миллионов долларов. Видео, ставшее трейлером для игры, полностью выполнено с использованием CG-технологий и включает множество персонажей Tekken...',
    imageUrl: "https://www.geekgeneration.fr/wp-content/uploads/2024/01/Tekken-8-8.jpg",
    category: "Новости",
    telegramPostId: "332"
  },
  {
    title: "Солист знаменитой группы Thirty Seconds to Mars Джаред Лето обратился к россиянам во время выступления",
    date: "11.11.2024",
    description: '"Будьте вне политики, вне шумихи, не видитесь на фейковые новости! Я хочу, чтобы вы знали..."',
    imageUrl: "https://www.mk.ru/upload/iblock_mk/photoreport/new/c2/dd/c8/495_128846.jpg",
    category: "Новости",
    telegramPostId: "306"
  },
  {
    title: "The Cure возглавили британский чарт впервые за 32 года",
    date: "01.11.2024",
    description: 'Новый альбом The Cure «Songs of a Lost World» возглавил британский хит-парад. До этого группе удавалось подняться на вершину чарта 32 года назад – с пластинкой «Wish» (1992)',
    imageUrl: "https://www.pravilamag.ru/upload/img_cache/17d/17dd70fac9ddf6317b690cd49e4151b6_ce_4300x2867x0x0_cropped_510x340.webp",
    category: "Новый альбом",
    telegramPostId: "299"
  },
{
    title: "Номинации на Грэмми 2025!",
    date: "08.11.2024",
    description: 'В категории «Рок альбом года» приятно видеть таких легенд, как The Black Crowes и Pearl Jam, а также актуальных исполнителей вроде Idles и Fontaines D.C. Особенно интересно, что Rolling Stones вновь идут в конкуренцию с альбомом 2023 года.',
    imageUrl: "https://newhdmedia.com/wp-content/uploads/2024/08/last-day-to-be-eligible-for-the-2025-grammy-awards-1.jpg",
    category: "Дата",
    telegramPostId: "296"
  },
{
    title: "Рок-легенда: 40 лет альбому Motörhead",
    date: "08.11.2024",
    description: '8 ноября 1980 года на свет появился четвертый альбом британской группы Motörhead под названием "Ace Of Spades". Этот релиз уже давно зарекомендовал себя как истинная рок-классика, а заглавная композиция "Ace Of Spades" превратилась в главный хит и одну из самых знаковых песен в творчестве Motörhead',
    imageUrl: "https://cs14.pikabu.ru/post_img/2022/09/26/9/1664202965124857959.jpg",
    category: "Дата",
    telegramPostId: "293"
  },
{
    title: "Ария. Специальное новогоднее шоу «Зимний аккорд»",
    date: "30.12.2024",
    description: 'По доброй традиции, группа "АРИЯ" готовит для вас уникальное шоу в честь Нового года! Группа приглашает вас на самый веселый и зажигательный концерт "Зимний аккорд"! В последние дни декабря музыканты АРИИ переоденутся в костюмы Дедов Морозов и порадуют вас необычным сет-листом, в который войдут оригинальные интерпретации популярных советских хитов в Heavy Metal стиле',
    imageUrl: "https://sun9-39.userapi.com/impg/mgJaa4hNjgEHLBH74hmqW0HobhquQGOFyZ1VEA/mg2zCqODVmY.jpg?size=1200x760&quality=95&sign=f80967f8513ac05d18810d30dcbf4316&type=album",
    category: "Концерт",
    telegramPostId: "289"
  },
{
    title: "Из As I Lay Dying ушли все, кроме вокалиста",
    date: "03.11.2024",
    description: 'Phil Sgrosso также сообщил, что покидает состав As I Lay Dying "Привет всем, Спасибо за ваше терпение, так как мне нужно было время, чтобы обдумать текущее состояние As I Lay Dying. Недавние события, включая уход членов группы и отмену нашего европейского тура, связанного с выходом нового альбома, продемонстрировали..."',
    imageUrl: "https://nuskull.hu/wp-content/uploads/2024/10/philsgrosso-e1730376098453-1000x603.jpg",
    category: "Дата",
    telegramPostId: "272"
  },
  {
    title: "24 года назад мир увидел дебютный студийный альбом американской рок-группы Linkin Park — Hybrid Theory!",
    date: "09.10.2024",
    description: "Этот альбом, выпущенный на лейбле Warner Bros. Records и записанный в студии NRG Recordings в Северном Голливуде, стал настоящим знаковым событием в музыкальной индустрии",
    imageUrl: "https://i.ytimg.com/vi/LNC3YEDu8VI/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLDsd9qh0JP3yfu7ft_j2BTZWD4_0w",
    category: "Дата",
    telegramPostId: "194"
  },
  {
    title: "Новая песня группы EPICA",
    date: "27.10.2024",
    description: "Долгое время поклонники голландской симфо-метал группы EPICA скучали по новым релизам – последний EP The Alchemy Project вышел еще в ноябре 2022 года. И вот, наконец, долгожданная новость! На днях в сети появился новый клип на трек The Ghost In Me (Danse Macabre). Этот трек стал результатом удивительного сотрудничества EPICA с Эфтелингом, вторым по посещаемости тематическим парком Европы",
    imageUrl: "https://i.ytimg.com/vi/BWoTDpU5G9k/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLCTdBbGsWHynDojYy_CSbowuzp7XQ",
    category: "Новый сингл",
    telegramPostId: "226"
  },
  {
    title: "THE FEAR представляют свой первый сингл",
    date: "27.10.2024",
    description: "Рады представить вам White Noise – дебютный сингл металкор-группы THE FEAR из Манчестера!",
    category: "Новый сингл",
    telegramPostId: "227",
    imageUrl: "https://distortedsoundmag.com/wp-content/uploads/2024/10/The-Fear-2024.jpg"
  },
  {
    title: "LEAGUE OF DISTORTION выпустили альбом и видеоклип",
    date: "27.10.2024",
    description: "Германская группа LEAGUE OF DISTORTION представляет свой новый альбом Galvanize",
    category: "Новый альбом",
    telegramPostId: "228",
    imageUrl: "https://i.ytimg.com/vi/apBs-HPcKsg/hq720.jpg"
  }
];
---

<Layout 
  title="Новости - RockReplay" 
  description="Последние новости из мира рок-музыки"
  background="https://images.unsplash.com/photo-1470229722913-7c0e2dbbafd3?auto=format&fit=crop&q=80&w=2070"
>
  <section class="container mx-auto px-4">
    <h1 class="text-4xl font-bold mb-8 text-center">Новости</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      {latestNews.map(news => <NewsCard {...news} />)}
    </div>
  </section>
</Layout>
