---
import Layout from '../layouts/Layout.astro';
import ReviewCard from '../components/ReviewCard.astro';

const videoReviews = [
  {
    title: "Ekoh feat. Colorblind - Haunted",
    description: 'Музыкальный клип на Haunted вышел. Я не думаю, что вы когда-либо сопоставляли настроение песни с визуальным рядом...',
    date: "20.12.2024",
    telegramPostId: "512",
    imageUrl: "https://images.squarespace-cdn.com/content/v1/5282904fe4b06dd1d21607b7/2039f53f-354b-4593-927a-4cb450cb227f/1000011106.png"
  },
  {
    title: "Screams Of Syrens - Empath",
    description: 'Screams of Syrens — прогрессивная металкор-группа из солнечной Южной Калифорнии, которая с 2013 года завоевывает сердца слушателей...',
    date: "18.12.2024",
    telegramPostId: "511",
    imageUrl: "https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgwA4mZSrUErIrwgy0iJnoE1VNDuMhnqOy9d7oLTxNQYIcgSD1ffclrzeQtcmNmMA0_GNKEOM1_luBxkPViuOiCK29n2D1VCcKKjcd4kcMvZfU6tS8y5cqur4Wvt2UOnSHsFxBelc-pcY_YtxXjHvl2VeK5Xx_DwSwmDdha2unfZgpcJi-seEkkogFmErnD/s2048/1.jpg"
  },
  {
    title: "Silence The Echo - Into Serenity",
    description: 'Рок-группа, отличающаяся двойной вокальной динамикой и энергичными ритмами, придающими тяжёлую остроту разнообразному каталогу, в котором переплетаются жанры от классики до современной поп-музыки...',
    date: "17.12.2024",
    telegramPostId: "460",
    imageUrl: "https://i.ytimg.com/vi/s7hixDlPhN8/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLAFfX12S7cn24iTI7-aL0YG79iC7g"
  },
  {
    title: "Lessdmv - The Sanctuary",
    description: 'Джулиан Ларре (Lessdmv). Ларре в настоящее время является вокалистом готик-метал группы из Германии Lacrimas Profundere, блистая на каждом шоу с группой с 2018 года. Lessdmv выпустил замечательный новый сингл...',
    date: "14.12.2024",
    telegramPostId: "430",
    imageUrl: "https://i.ytimg.com/vi/1-l_XR_p1Jc/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLBre8gBFKggi5EWx03UY8Aq-6yLnQ"
  },
  {
    title: "BRAINSTORM - Garuda",
    description: 'Знакомьтесь с Brainstorm. Brainstorm — немецкая пауэр-метал-группа созданная в 1989 году. Лицом группы является вокалист Энди Б. Франк, также известный участием в Symphorce и прогрессив-группе Ivanhoe...',
    date: "12.12.2024",
    telegramPostId: "429",
    imageUrl: "https://csquared.info/wp-content/uploads/2024/12/image-81-1024x681.png"
  },
  {
    title: "AIRFORCE - Among the Shadows",
    description: 'Представляет новый сингл группа Airforce! Airforce - эта лондонская тяжелая рок-группа, известная своими невероятными живыми выступлениями и страстью к рок-н-роллу...',
    date: "12.12.2024",
    telegramPostId: "428",
    imageUrl: "https://mhf-mag.com/wp-content/uploads/2024/12/Airforce_B.jpg"
  },
  {
    title: "Flash Forward - Stuck On You",
    description: 'Альтернативная рок-группа из Германии. Если вам нравятся You Me At Six, Biffy Clyro и Deaf Havana, вам понравится FLASH FORWARD. Эти четверо парней создают заразительную смесь жестких гитарных риффов и неотразимых хоровых подпевок...',
    date: "07.12.2024",
    telegramPostId: "406",
    imageUrl: "https://i.postimg.cc/DZh90fdR/469508842-18475955689052270-3050830482558433624-n.jpg"
  },
  {
    title: "Kryn - The Nerve",
    description: 'Kryn сочетает в себе тяжелые риффы, мрачные атмосферные мелодии и мощное вокальное присутствие с оттенком контролируемой агрессии. Группа заняла особое место на металлической сцене с помощью энергичных выступлений, укрепив свою репутацию по всей Европе...',
    date: "07.12.2024",
    telegramPostId: "405",
    imageUrl: "https://www.darkside.ru/band/29536/n169432.jpg"
  },
  {
    title: "Our Mirage - Fractured",
    description: 'Немецкая металкор-группа Our Mirage выпустила свой новый сингл, который обещает найти отклик у поклонников благодаря интенсивному сочетанию необузданных эмоций и сокрушительных инструментальных композиций...',
    date: "05.12.2024",
    telegramPostId: "389",
    imageUrl: "https://www.darkside.ru/band/22911/n139146.jpg"
  },
  {
    title: "Stray View - Wasteland",
    description: 'Stray View — яркий музыкальный коллектив, который выходит за рамки жанровых границ, чтобы создать захватывающее звуковое путешествие для своих слушателей. Группа, созданная в 2023 году, представляет собой...',
    date: "05.12.2024",
    telegramPostId: "388",
    imageUrl: "https://lastfm.freetls.fastly.net/i/u/300x300/045609162f678e88b57424a7512abb4a.jpg"
  },
  {
    title: "Arch Enemy - Blood Dynasty",
    description: 'Клип является заглавным треком из предстоящего нового альбома шведской мелодик-дэт-метал группы, релиз которого запланирован на март 2025 года на лейбле Century Media Records...',
    date: "05.12.2024",
    telegramPostId: "387",
    imageUrl: "https://metal.hu/wp-content/uploads/2024/10/Arch-Enemy-Blood-Dynasty-1.jpg"
  },
  {
    title: "Avantasia - Creepshow",
    description: 'Немецкий музыкальный проект в жанре пауэр-метал, созданный Тобиасом Замметом, вокалистом группы Edguy. Avantasia постоянно записывает концептуальные альбомы с участием множества вокалистов и музыкантов из других групп...',
    date: "05.12.2024",
    telegramPostId: "386",
    imageUrl: "https://www.rafabasa.com/wp-content/uploads/2024/07/avantasia_tobias2024_1.jpg"
  },
  {
    title: "Eisbrecher - Everything is wunderbar",
    description: 'Eisbrecher — это команда, которая с 2003 года завоевывает сердца фанатов мощной музыкой и выдающимися концертными выступлениями. С момента своего создания группа выпустила восемь студийных альбомов, каждый из которых стал настоящим событием в мире музыки ...',
    date: "30.11.2024",
    telegramPostId: "370",
    imageUrl: "https://rockmetalmag.fr/wp-content/uploads/2024/11/eisbrecher-everything-is-wunderb.jpg"
  },
  {
    title: "Blacktoothed - Antidote",
    description: 'Незадолго до наступления нового года Blacktoothed выпускают свой новый сингл Antidote, атмосферный, меланхоличный трек, который передает спокойствие и последующую эмоциональную бурю как музыкально, так и ...',
    date: "29.11.2024",
    telegramPostId: "373",
    imageUrl: "https://arising-empire.com/cms/uploads/news_blacktoothed-released-brand-new-single-antidote_895.jpg"
  },
  {
    title: "Dynazty - Game of Faces",
    description: 'Песня с видео клипом из будущего альбома "Game Of Faces", релиз которого состоится 14 февраля 2025 года',
    date: "28.11.2024",
    telegramPostId: "367",
    imageUrl: "https://www.metallerium.com/img/dynazty-presentan-sencillo-principal-de-nuevo-album-game-of-faces-1306.jpg"
  },
  {
    title: "Marilyn Manson - OAUG",
    description: "One Assassination Under God - Chapter 1, 12-й альбом MARILYN MANSON вышел по всему миру на лейбле Nuclear Blast Records",
    date: "22.11.2024",
    telegramPostId: "346",
    imageUrl: "https://www.metallus.it/wp-content/uploads/2024/10/Marilyn-Manson-EMP-03.jpg"
  },
  {
    title: "Lankester Merrin - High Plains Drifter",
    description: "Немецкое квинтето Lankester Merrin, основанное в 2019 году и вдохновлённое персонажем из романа Экзорцист 1971 года, создает захватывающее сочетание мелодичного хеви-метала...",
    date: "17.11.2024",
    telegramPostId: "326",
    imageUrl: "https://c02.purpledshub.com/uploads/sites/16/2023/04/Lankester_Merrin_2023.jpg"
  },
  {
    title: "Hamadría - Valió la pena (feat. JessDenn)",
    description: "Без сомнения, одним из самых мощных хитов современной перуанской метал-сцены...",
    date: "17.11.2024",
    telegramPostId: "328",
    imageUrl: "https://i0.wp.com/guerrerosdelmetal.com/wp-content/uploads/2024/11/hamadria-valio-la-pena.jpg?fit=1200%2C701&ssl=1"
  },
  {
    title: "Thundermother - Dead Or Alive ",
    description: "Популярная современная шведская рок-группа Thundermother, созданная в 2012 году. Их успех начался с выступления на Gothenburg Rockfest, и с тех пор они покоряют рок-сцены. Летом они провели тур по Италии, а осенью стали первой незавизированной группой, выступившей на CLOSE-UP Boat вместе с такими исполнителями, как...",
    date: "16.11.2024",
    telegramPostId: "336",
    imageUrl: "https://www.sinner-rock.de/wp-content/uploads/2021/02/Thundermother-650logo.jpg"
  },
  {
    title: "Vanitas - Wait & See",
    description: "Британская группа Vanitas стремительно завоевывает сердца поклонников тяжелой музыки своим уникальным стилем «кинематографического дженга», где прогрессивный металл встречается с оркестровыми элементами...",
    date: "16.11.2024",
    telegramPostId: "337",
    imageUrl: "https://rockisfest.ru/upload/iblock/a0b/a0b3c2d98b0e811bbd15e6840166e8fe.jpg"
  },
  {
    title: "Linkin Park - Two Faced",
    description: "Linkin Park выпустили четвертый сингл с будущего альбома From Zero. Новая песня получила название Two Faced...",
    date: "14.11.2024",
    telegramPostId: "320",
    imageUrl: "https://i.ytimg.com/vi/WqKubEVJRtI/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLDlhQLewIGYGFyscq_8mPb593ZW0w"
  },
  {
    title: "Matt Guillory - Middlefield",
    description: "Matt Guillory американский музыкант и основатель прогрессивной группы Dali's Dilemma из района залива Сан-Франциско, родился в 1974 году. Он играет на клавишных и пишет песни в жанре прогрессивного металла, обладая талантом создавать запоминающиеся мелодии и хуки...",
    date: "13.11.2024",
    telegramPostId: "322",
    imageUrl: "https://i.ytimg.com/vi/2Y0yea3MuSM/maxresdefault.jpg"
  },
  {
    title: "Ignitor - Shattered Crosses",
    description: "Техасские титаны металла Ignitor выпустили официальный клип на песню Shattered Crosses из нового альбома Horns And Hammers",
    date: "12.11.2024",
    telegramPostId: "331",
    imageUrl: "https://i.ytimg.com/vi/TSS_cZfoaHE/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLDcsZxev_2H8va4eDd2o3ZBTqA7Jg"
  },
  {
    title: "НЕРЫДАЙ! - Иллюзии",
    description: "Огненная смесь чистого женского вокала, мрачных гитарных риффов, тревожных барабанов и пронзительных клавиш воспламеняет воображение слушателя, обнажая глубинные переживания и подсвечивая острые осколки скрытых эмоций.",
    date: "11.11.2024",
    telegramPostId: "304",
    imageUrl: "https://avatars.dzeninfra.ru/get-zen_doc/3502204/pub_5fe25ea9a26fb132cafdf151_5fe25f0e785777679ade4ed8/scale_1200"
  },
  {
    title: "Radio Tapok - Фрау Чёрная Смерть",
    description: "Видео клип про девушку-героя по имени Евдокия Николаевна Завалий, единственная женщина — командир взвода морской пехоты в годы Великой Отечественной войны",
    date: "08.11.2024",
    telegramPostId: "321",
    imageUrl: "https://i.ytimg.com/vi/q-XiWd7WAZI/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLBsEZEl2vs-Cq3C14UTvK8_hk86FQ"
  },
  {
    title: "Воля и Разум - Грешник или Святой",
    description: "Группа Воля и Разум - это не просто группа. Это настоящая машина, состоящая из легендарных музыкантов, суперпрофи своего дела...",
    date: "08.11.2024",
    telegramPostId: "305",
    imageUrl: "https://i.ytimg.com/vi/bPPH0QIIYJM/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLA8LPBrL6vKoADUSyGLNvXgVya6tg"
  },
  {
    title: "Dominum - One Of Us",
    description: 'DOMINUM анонсировали выход своего второго альбома "The Dead Don’t Die", который выйдет 27 декабря 2024 года на Napalm Records и второй сингл «One Of Us» с официальным музыкальным видео',
    date: "07.11.2024",
    telegramPostId: "303",
    imageUrl: "https://www.rafabasa.com/wp-content/uploads/2024/10/dominum2024_1_500x267.jpg"
  },
  {
    title: "Devilskin — Unborn",
    description: "Devilskin продолжает вдохновлять поклонников по всему миру своей энергией и мощным звучанием, укрепляя свою репутацию одной из лучших рок-групп Новой Зеландии!",
    date: "07.11.2024",
    telegramPostId: "291",
    imageUrl: "https://timetorock.ru/wp-content/uploads/2015/08/DEVILSKIN-2015.jpg"
  },
  {
    title: "Burning Witches - The Spell Of The Skull",
    description: "Швейцарская дамская хэви-метал группа Burning Witches выпустила свежий сингл. После выхода их студийного альбома The Dark Tower в мае прошлого года поклонники ждали новую музыку, и вот она здесь",
    date: "07.11.2024",
    telegramPostId: "288",
    imageUrl: "https://outburn.com/wp-content/uploads/2021/05/Burning_Witches-Interview4-52721-696x464.jpg"
  },
  {
    title: "The Dark - Slip Away",
    description: "В мире музыки много групп с названием THE DARK, но одна из них выделяется особенно — это коллектив из Лос-Анджелеса, который играет в жанре металкор. И вот они вчера презентовали свой новый клип на трек Slip Away!",
    date: "05.11.2024",
    telegramPostId: "279",
    imageUrl: "https://i.ytimg.com/vi/bZjGWvSZXGs/sddefault.jpg?v=67211289"
  },
  {
    title: "No Cure - Dont Need Your Help",
    description: "Знакомьтесь с группой NO CURE из Алабамы! Они появились на музыкальной сцене в 2021 году и уверенно завоевывают сердца поклонников металкора и дэт-метала.",
    date: "31.10.2024",
    telegramPostId: "282",
    imageUrl: "https://www.therockpit.net/wp-content/uploads/2024/11/No-Cure.jpg"
  },
  {
    title: "The Halo Effect - March Of The Unheard",
    description: "Шведские звезды мелодичного дэт-метала The Halo Effect представили официальный видеоклип на свой новый сингл «March Of The Unheard», который является заглавным треком их второго альбома, релиз которого запланирован на 10 января 2025",
    date: "29.10.2024",
    telegramPostId: "274",
    imageUrl: "https://static.headbanger.ru/i/2024/10/100683.jpg"
  },
  {
    title: "The Night Flight Orchestra - Shooting Velvet",
    description: "Шведская супергруппа The Night Flight Orchestra, в составе которой замечательные музыканты из групп Soilwork и Arch Enemy, продолжает радовать своих поклонников новыми работами!",
    date: "29.10.2024",
    telegramPostId: "242",
    imageUrl: "https://www.werock.bg/news/images19/the-night-flight-orchestra.jpg"
  },
  {
    title: "Balance Breach - Come Undone",
    description: "Группа из Финляндии, была основана в 2015 году и с тех пор уверенно завоевывает сердца поклонников тяжёлой музыки.",
    date: "28.10.2024",
    telegramPostId: "218",
    imageUrl: "https://www.inferno.fi/wp-content/uploads/bloodredhourglass-brhg-2021.jpg"
  },
  {
    title: "Bloodywood - Nu Delhi",
    description: "Индийская метал-группа из Нью-Дели, которая начала свою карьеру в 2016 году. Группа начала свое существование с пародий на поп-песни, на которые они делали металл-каверы и публиковали на YouTube. Позднее группа начала писать свой собственный материал, выпустив свой первый дебютный альбом в жанре фолк-метал",
    date: "25.10.2024",
    telegramPostId: "184",
    imageUrl: "https://i.ytimg.com/vi/A3C9NwGKgq4/maxresdefault.jpg"
  },
  {
    title: "Hollywood Undead - Hollywood Forever",
    description: "Свежачок от американской рок-группы из Лос-Анджелеса. Творчество коллектива базируется на смешивании рок-музыки с хип-хопом и, соответственно, в основном классифицируется как рэп-рок.",
    date: "24.10.2024",
    telegramPostId: "220",
    imageUrl: "https://i.ytimg.com/vi/r9gq9PDwRqQ/hq720.jpg?sqp=-oaymwE7CK4FEIIDSFryq4qpAy0IARUAAAAAGAElAADIQj0AgKJD8AEB-AH-CYAC0AWKAgwIABABGGggRChyMA8=&rs=AOn4CLAos1rAJ2n1ziAhmj3GJYJghrdnMA"
  },
  
  {
    title: "ELEINE - Never Forget",
    description: "Группа Eleine была образована в 2014 году в Швеции, быстро завоевавшая популярность благодаря своему мрачному симфоническому металлу с элементами блэк-, дэт- и трэш-метала. ",
    date: "08.10.2024",
    telegramPostId: "190",
    imageUrl: "https://i.ytimg.com/vi/QpQQZYViuZM/maxresdefault.jpg"
  }
];
---

<Layout 
  title="Обзоры клипов - RockNews" 
  description="Обзоры новых рок-клипов и музыкальных видео"
  background="https://images.unsplash.com/photo-1498038432885-c6f3f1b912ee?auto=format&fit=crop&q=80&w=2070"
>
  <section class="container mx-auto px-4">
    <h1 class="text-4xl font-bold mb-8 text-center">Обзоры клипов</h1>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      {videoReviews.map(review => <ReviewCard {...review} />)}
    </div>
  </section>
</Layout>
